language: node_js
node_js:
- '6'
branches:
  only:
  - master

script:
- npm test
- npm run build

after_success: ./deploy.sh

env:
  global:
    - secure: "XG06H9wNPDjFt242FCCjEW8RPgFUuCBlpy23R1asQwd1yr69evVIphCAbwNXPLdndS+KTHtYMKbqFQv+Y7TZdaQ832DphALkVRvu0KT6yENoJGSsPbF6io6wx2SAAqwpBPwsUl8UlJC3bZWhusVI2+1wwJWnnM+LTFCI+QlPAWyctDVSowZm0xxVw4aZ9RAwUirP/zMzyTuyDqPLiWAwlR+7Boow9vLF5PpDEKpgaPczh8fCszpXNMMeTVDvxBlv2sOsLuR08FSmpC3/zYyrJzWlGnmZJQO8EVqzRoiBOtkFKrSQ1m/SnJUw1/dw5Hv1SsT6SHksuenw3WPIROGRuVjjbdNy663NNLbsuoNF7LzZ9r/4Hm/QVdzRE1f8RSwPrjv5GPPolP5Ki8JVtsR6W+wTJ/L5p6/NUBffr7Q6qoC+9qThKd0590PY1EDNoAV3/UNua4d6ZsRYra/r+jtKZnwAE6Zvh0PNoyUX7fZCKyhdsX9u+YrdJQPZOBdTMQp2A+2hI8HHdmcrPNbJS9KZlcwybm8vOFnBjY4qQ1ELWdHY7Hg2T/AaLOnxUgLfpuPbaCo1Kdi3SSI0ht3/oUvXk9CUVThLT8DGqTwNT4jqsrFFydmrdzUAfPOzwDCwhB/01a0Yx8KYiwAA2u/L2B1xUsPcHNYuOXJL8HYSqrDT5jU="
