@import '../../styles/colors';

form.prompt {
  display: flex;

  input {
    flex-grow: 1;

    height: 1em;
    // border: 1px dotted #999;
    background: none;
    border: none;
    color: inherit;
    outline: none;
    font: inherit;
  }
}
